/* General styles for larger screens */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 60vh;
}

.container h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.productImage {
    max-width: 500px;
    height: 400px;
    margin-right: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.buttonGroup {
    display: flex;
    gap: 10px;
}

.button {
    padding: 10px 20px;
    background-color: #ff4081;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.button:hover {
    background-color: #e73370;
}

.productDetails {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.productInfo {
    max-width: 500px;
}

.productInfo p {
    font-size: 20px;
    margin: 10px 0;
    line-height: 1.5;
}

.productInfo p.price {
    font-size: 24px;
    font-weight: bold;
    /* color: #ff4081; */
}

.productInfo p.rating {
    font-size: 24px;
    border: 1px solid #bdbdbd;
    width: 180px;
    padding: 0 5px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
    font-weight: bold;
}

/* Responsive styles for screens smaller than 768px (e.g., tablets) */
@media (max-width: 768px) {
    .container {
        margin-top: 50px;
        flex-direction: column;
        height: auto;
    }

    .productDetails {
        flex-direction: column;
        align-items: center;
    }

    .productImage {
        max-width: 80%;
        height: auto;
        margin: 0 0 20px 0;
        padding: 10px;
    }

    .productInfo {
        max-width: 80%;
    }

    .buttonGroup {
        flex-direction: column;
        width: 100%;
    }

    .button {
        width: 100%;
        text-align: center;
    }

    .productInfo p {
        font-size: 18px;
    }

    .productInfo p.price {
        font-size: 22px;
    }

    .productInfo p.rating {
        font-size: 22px;
    }
}

/* Responsive styles for screens smaller than 480px (e.g., mobile phones) */
@media (max-width: 480px) {
    .container {
        margin-top: 30px;
    }

    .productImage {
        max-width: 100%;
        height: auto;
        margin: 0 0 15px 0;
        padding: 5px;
    }

    .productInfo {
        max-width: 90%;
    }

    .productInfo p {
        font-size: 16px;
    }

    .productInfo p.price {
        font-size: 20px;
    }

    .productInfo p.rating {
        font-size: 20px;
        width: 100%;
    }

    .buttonGroup {
        gap: 5px;
    }

    .button {
        padding: 8px 16px;
        font-size: 16px;
    }
}
